@footer-height: 20px;

#site-footer {
  position: relative;
  color: white;
  margin-top: 50px;
  min-height: 150px;
  background-color: rgb(60,60,60);
  
}

#site-footer .row {
  margin-top: 30px;
}

#footer-social-buttons {
  text-align: center;
}

#footer-copyright {
  text-align: right;
}
