#footer {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #3c3c3c;
}
/*#footer-border-1 {*/
/*position: absolute;*/
/*top: @header-height;*/
/*height: 5px;*/
/*width: 100%;*/
/*background-color: rgb(30,30,30);*/
/*z-index: 5;*/
/*}*/
/*#footer-border-2 {*/
/*position: absolute;*/
/*top: @header-height;*/
/*height: 10px;*/
/*width: 100%;*/
/*background-color: rgb(60,60,60);*/
/*}*/
