#site-footer {
  position: relative;
  color: white;
  margin-top: 50px;
  min-height: 150px;
  background-color: #3c3c3c;
}
#site-footer .row {
  margin-top: 30px;
}
#footer-social-buttons {
  text-align: center;
}
#footer-copyright {
  text-align: right;
}
