* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  position: relative;
  width: 100%;
}
.page-heading {
  font-size: 4em;
  font-style: italic;
}
.page p,
.page span {
  font-size: 1.5em;
  line-height: 200%;
  margin: 10px 0;
  color: #646464;
}
.page li {
  font-size: 1.5em;
  line-height: 180%;
  color: #646464;
}
#page-wrap-for-footer {
  flex: 1;
}
#map_canvas {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
  height: 230px;
}
.required-star {
  color: red !important;
}
#contact-left {
  display: inline-block;
  width: 48%;
}
#contact-right {
  display: inline-block;
  width: 48%;
  float: right;
}
#contact-pending {
  position: relative;
  top: 4px;
}
#contact-success i {
  color: #5CB85C !important;
  font-size: 14px;
}
#contact-success span {
  color: #5CB85C !important;
  font-size: 13px;
}
#contact-error i {
  color: #D9534F !important;
  font-size: 14px;
}
#contact-error span {
  color: #D9534F !important;
  font-size: 13px;
}
#services1 {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}
#services2 {
  width: 100%;
  max-height: 800px;
  max-width: 500px;
}
#services3 {
  max-height: 350px;
  max-width: 350px;
}
#services4 {
  width: 100%;
}
#services5 {
  width: 100%;
  margin-top: 5px;
  max-height: 800px;
  max-width: 500px;
}
.gallery-row img {
  width: 100%;
}
.image-center,
image-center img {
  display: block;
  margin: 0 auto;
}
