* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  position: relative;
  width: 100%;
}
.page-heading {
  font-size: 4em;
  font-style: italic;
}
.page p,
.page span {
  font-size: 1.5em;
  line-height: 200%;
  margin: 10px 0;
  color: #646464;
}
.page li {
  font-size: 1.5em;
  line-height: 180%;
  color: #646464;
}
#logo {
  height: 200px;
}
#page-wrap-for-footer {
  flex: 1;
}
#services1 {
  height: 300px;
}
#services2 {
  height: 300px;
}
#services3 {
  height: 300px;
}
#services4 {
  height: 300px;
}
#services5 {
  height: 300px;
}
#gallery1 {
  height: 300px;
}
#gallery2 {
  height: 300px;
}
#gallery3 {
  height: 300px;
}
#gallery4 {
  height: 300px;
}
