@header-height: 450px;

* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  position: relative;
  width: 100%;
}

.page-heading {
  font-size: 4em;
  font-style: italic;
}

.page p {
  font-size: 1.5em;
  line-height: 200%;
  margin: 10px 0;
  color: rgb(100,100,100);
}

.page li {
  font-size: 1.5em;
  line-height: 180%;
  color: rgb(100,100,100);
}

#logo {
  height: 200px;
}

#page-wrap-for-footer {
  flex: 1;
}
