.header {
  position: relative;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#home-header {
  background-image: url(img/home-header.jpg);
}
#about-us-header {
  background-image: url(img/about-us-header.jpg);
}
#services-header {
  background-image: url(img/services-header.jpg);
}
#photos-header {
  background-image: url(img/photos-header.jpg);
}
#contact-header {
  background-image: url(img/contact-header.jpg);
}
#header-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 450px;
  z-index: 100;
}
#header-text {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px -2px rgba(0, 0, 0, 0.5);
  text-shadow: -2px 2px rgba(0, 0, 0, 0.5);
  text-shadow: -2px -2px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 500;
}
#header-border-1 {
  position: absolute;
  top: 450px;
  height: 5px;
  width: 100%;
  background-color: #1e1e1e;
  z-index: 5;
}
#header-border-2 {
  position: absolute;
  top: 450px;
  height: 10px;
  width: 100%;
  background-color: #3c3c3c;
}
#navigation-bar {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1001;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
}
.navigation-bar-scrolled {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.nav-button,
.nav-button-lang {
  font-weight: bold;
  list-style-type: none;
  font-size: 1.2em;
  display: inline-block;
  height: 60px;
  margin-top: 17px;
  padding: 0 12px;
  cursor: pointer;
}
.nav-button-clicked {
  text-decoration: underline;
}
#navigation-bar a {
  color: #eeeeee;
}
#navigation-bar a:hover {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}
#navigation-rest-button {
  position: relative;
  float: right;
  bottom: 87px;
}
