@header-height: 400px;

.header {
  position: relative;
  width: 100%;
  height: @header-height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#home-header {
  background-image: url(img/home-header.jpg);
}
#about-us-header {
  background-image: url(img/about-us-header.jpg);
}
#services-header {
  background-image: url(img/services-header.jpg);
}
#photos-header {
  background-image: url(img/photos-header.jpg);
}
#contact-header {
  background-image: url(img/contact-header.jpg);
}
#testimonials-header{
  background-image: url(img/testimonials-header.jpg);
}


#header-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: @header-height;
  z-index: 100;
}

#header-text {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px -2px rgba(0,0,0,0.5);
  text-shadow: -2px 2px rgba(0,0,0,0.5);
  text-shadow: -2px -2px rgba(0,0,0,0.5);
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  z-index: 500;
}

#header-text .col-md-12 {
  position: relative;
}
#header-border-1 {
  position: absolute;
  top: @header-height;
  height: 5px;
  width: 100%;
  background-color: rgb(30,30,30);
  z-index: 5;
}

#header-border-2 {
  position: absolute;
  top: @header-height;
  height: 10px;
  width: 100%;
  background-color: rgb(60,60,60);
}



#navigation-bar {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(0,0,0,0.25);
  z-index: 1001;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
}

.navigation-bar-scrolled {
  background-color: rgba(0,0,0,0.75) !important;
}

.nav-button, .nav-button-lang {
  font-weight: bold;
  list-style-type: none;
  font-size: 1.2em;
  display: inline-block;
  height: 60px;
  margin-top: 17px;
  padding: 0 12px;
  cursor: pointer;
}

.nav-button:hover, .nav-button-lang:hover, .res-nav-button:hover, .res-nav-button-lang:hover {
  text-decoration: underline;
}

#navigation-bar a {
  color: #eeeeee;
}

#navigation-bar a:hover {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

#navigation-rest-button {
  position: relative;
  float: right;
  bottom: 87px;
}

// Hamburger Menu transformation
@media all and (max-width: 900px) {
  #navigation-tabs {
    display: none;
  }
  #hamburger-menu {
    display: block;
    color: white;
    font-size: 25px;
  	width: 60px;
  	height: 60px;
    line-height: 60px;
    background-color: transparent;
    transition: background-color 1s ease;
  }
  #hamburger-menu:hover {
    background-color: rgba(255,255,255, 0.2);
  }
  #hamburger-menu i {
    margin-left: 19px;
  }
  #responsive-menu {
    display: block;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(60,60,60);
  }

  .res-nav-button, .res-nav-button-lang {
    list-style-type: none;
    width: 100%;
    color: black;
    padding: 5px;
    font-size: 20px;
    border: 1px solid rgba(255,255,255,0.1);
  }
}
@media all and (min-width: 901px) {
  #hamburger-menu, #responsive-menu {
    display: none;
  }
}
